<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <%= link_to "Olist shortene", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <%= link_to "Links", links_path, class: "nav-link active" %>
          </li>          
          <li class="nav-item">
            <%= link_to 'Edit Profile', edit_user_registration_path , class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Exit", destroy_user_session_path, method: :delete, class: "nav-link active" %>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>


<div class="container">
  <div class="row">
    <div class="col">
      
      <%= image_tag("logo_olist.jpeg", size: "256x256", alt: "Logo Olist") %>
    </div>
    <div class="col">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :name,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "name" } %>    
          <%= f.input :username,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "username" } %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary"%>
        </div>
      <% end %>
      
      <hr class="bg-danger border-2 border border-danger">

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "link-danger" %></p>
      
      <hr class="bg-danger border-2 border border-danger">

      <%= link_to "Back", :back %>
    </div>
    <div class="col">
    </div>
    </div>
  </div>
</div>