<p id="notice"><%= notice %></p>

<p>
  <strong>Default url:</strong>
  <%= @url.default_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @url.short_url %>
</p>

<p>
  <strong>Numbers access:</strong>
  <%= @url.numbers_access %>
</p>

<p>
  <strong>User:</strong>
  <%= @url.user_id %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
