<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <%= link_to "Olist shortene", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <%= link_to "Links", links_path, class: "nav-link active" %>
          </li>          
          <li class="nav-item">
            <%= link_to 'Edit Profile', edit_user_registration_path , class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Exit", destroy_user_session_path, method: :delete, class: "nav-link active" %>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="mb-3">
        <h1>Links to <%= @current_user.name %></h1>
        <br>
        <p>* To use shortened link, set the <b>shortener/key</b> in url. Example: https://www.olistshortner/<b>shortener/olist123</b> </p>
        <br>
        <table class="table table-striped">
        <thead>
            <tr>
            <th>Link</th>
            <th>Key to shortened link</th>
            <th>Number of views</th>
            <th>Created at</th>
            <th>Updated at</th>
            </tr>
        </thead>

        <tbody>
            <% @links.each do |link| %>
            <tr>
                <td><%= link.url %></td>
                <td><a href="<%= @base_url %><%= link.unique_key %>"><%= @base_url %><%= link.unique_key %></a></td>
                <td><%= link.use_count %></td>
                <td><%= link.created_at %></td>
                <td><%= link.updated_at %></td>
            </tr>
            <% end %>
        </tbody>
        </table>

        <br>    
    </div>
  </div>
</main>